.guess-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.empty-guess {
  height: 40px;
  width: 600px;
  background-color: grey;
}

.correct-guess {
  /* background-color: "#3E9614"; */
  background-color: green;
  color: white;
  font-size: 36px;
  padding: 10px;
  max-width: 600px;
}
